.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #9370db ;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #9370db;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: large;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #9370db;
  border-radius: 4px;
}

.form-label {
  position: relative;
  margin-bottom: 20px;
  color: #9370db;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #9370db;
  color: #002b36;
  font-size: 16px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #9370db;
}

button[type='register']:hover {
  background-color: #9370db;
}

