*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.background {
  background-color: #ffff;
  background-position: center;
  background-size: cover;
  padding: 0%;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}


body {
  text-align: center;
  font-family: sans-serif;
}


.title {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9370db;
}

.subtitle {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #9370db;
}

p {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 40px;
  font-size: 18px;
  color: #000000;
  padding: 0 100px;
}

.pgph {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 40px;
  font-size: 18px;
  color: #000000;
  padding: 0 100px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9370db;
  color: #9370db;
  text-decoration: none;
  background: #0000;
}

.btn:hover {
  background: #9370db;
  
}

.btn-success {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #28a745; /* Color verde de Bootstrap */
  color: #28a745;
  text-decoration: none;
  background: #0000;
}

.btn-success:hover {
  background: #28a745;
}

.btn-danger {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #dc3545; /* Color rojo de Bootstrap */
  color: #dc3545;
  text-decoration: none;
  background: #0000;
}

.btn-danger:hover {
  background: #dc3545;
}

.btn-warning {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #ffc107; /* Color de advertencia de Bootstrap */
  color: #ffc107;
  text-decoration: none;
  background: #0000;
}

.btn-warning:hover {
  background: #ffc107;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: #1f1d1d
}

.text {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #9370db;
}

.text2 {
  descent-override: 0;
}